<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!--      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->
      <!--<a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>-->
      <!--<span class="sidebar-nav-item">Currently v{{ site.version }}</span>-->
      <div>
      <script>
  (function() {
	      var cx = '010873654520717777094:0x6pfmy3zjc';
	          var gcse = document.createElement('script');
		      gcse.type = 'text/javascript';
		          gcse.async = true;
			      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
			          var s = document.getElementsByTagName('script')[0];
				      s.parentNode.insertBefore(gcse, s);
				        })();
      </script>
      <gcse:searchbox-only></gcse:searchbox-only>
      </div>
    </nav>
    <style type="text/css"> 
      td.gsc-clear-button { display: none } 
      form.gsc-search-box { padding-left: 0px } 
      td.gsc-input { background-color: #8f5536 !important;
      	padding: 0px !important;
	border: 0px !important;
      } 
      td.gsc-search-button {
      	padding: 0px !important;
	border: 0px !important;
	background-color: #8f5536 !important;
      }
      input.gsc-search-button {
      	padding: 0px !important;
	border: 0px !important;
	height: 26px !important;
      }

    </style>
    <!--<p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>-->
  </div>
</div>
