<script src="http://www.youtube.com/iframe_api"></script>
<script>

var tag = document.createElement('script');
tag.src = "http://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

function onYouTubeIframeAPIReady(event) {
	player = new YT.Player('youTubePlayer_test', {
		videoId: 'jIDRwcB2SPA',
		events: {
			'onReady': onPlayerReady,
			'onStateChange': onPlayerStateChange
		}
	});
}

var pauseFlag = false;
var totalTime = 0;
var startTime = 0;
function onPlayerReady(event) {
	// do nothing, no tracking needed
}
function onPlayerStateChange(event) {
	// track when user clicks to Play
	if (event.data == YT.PlayerState.PLAYING) {
		ga('send', 'event', 'Videos', 'Play', 'Test Video', 5);
		pauseFlag = true;
		startTime = Date.now()/1000;
	}
	// track when user clicks to Pause
	if (event.data == YT.PlayerState.PAUSED && pauseFlag) {
		ga('send', 'event', 'Videos', 'Pause', 'Test Video');
		pauseFlag = false;
		totalTime = totalTime + Date.now()/1000 - startTime;
	}
	// track when video ends
	if (event.data == YT.PlayerState.ENDED) {
		ga('send', 'event', 'Videos', 'Finished', 'Test Video');
		totalTime = totalTime + Date.now()/1000 - startTime;
	}
}
window.onunload = function(){
	ga('send', 'event', 'Videos', 'Total', 'Test Video', parseInt(totalTime, 10));
}
</script>

