<script>

var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var url_string = window.location.href;
var url = new URL(url_string);
var videoId = url.searchParams.get("v");
function onYouTubeIframeAPIReady(event) {
	player = new YT.Player('youTubeRepeat', {
		videoId: videoId,
		playerVars: { 'autoplay': 1, 'loop': 1, 'playlist': videoId },
		events: {
			'onReady': onPlayerReady,
			'onStateChange': onPlayerStateChange
		}
	});
}

var pauseFlag = false;
var totalTime = 0;
var startTime = 0;
function onPlayerReady(event) {
	// do nothing, no tracking needed
}
function onPlayerStateChange(event) {
	// track when user clicks to Play
	if (event.data == YT.PlayerState.PLAYING) {
		ga('send', 'event', 'YoutubeRepeater', 'Play', videoId);
		pauseFlag = true;
		startTime = Date.now()/1000;
	}
	// track when user clicks to Pause
	if (event.data == YT.PlayerState.PAUSED && pauseFlag) {
		ga('send', 'event', 'YoutubeRepeater', 'Pause', videoId);
		pauseFlag = false;
		totalTime = totalTime + Date.now()/1000 - startTime;
	}
	// track when video ends
	if (event.data == YT.PlayerState.ENDED) {
		ga('send', 'event', 'YoutubeRepeater', 'Finished', videoId);
		totalTime = totalTime + Date.now()/1000 - startTime;
	}
}
window.onunload = function(){
	if(totalTime > 0){
		ga('send', 'event', 'YoutubeRepeater', 'Total', videoId, parseInt(totalTime, 10));
	}
}
</script>

